@import "../variables.module.scss";

.marvelCard {
  background-color: deeppink;
  @include card-space;

  button {
    @include button-space;
    @include button-submit;
  }

  Button {
    color: #0bda51;
    @include button-x-custom-1;
  }

  form {
   margin: 0 auto;
   width: 50%;
  }

  input[type="text"] {
    border-bottom: 0.1rem dotted #0bda51;
    width: 60%;
    margin-top: 3.15rem;
    outline: none;
    padding-left: .5rem;
    font-size: medium;
  }

  input {
    color: $ea-white;
  }

  input[type="text"]::placeholder {
    color: $ea-white;
    @include input-number-and-text-format;
    padding-left: .25rem;
  }

  .searchBtn {
    font-size: 2rem;
    margin-top: .4rem;
  }

 .creatorName {
    color: deeppink;
    font-size: 3.15rem;
    text-shadow: .1rem .015rem  $ea-black;
  }

  a.linkToCreatorCreations {
    position: absolute;
    top: 20.5rem;
    right: 18.75rem;
  }

  .comicsUl {
    font-size: x-small;
    text-align: left;
    width: 25%;
    font-family: $font-flow-block;
   
    position: absolute;
    top: 17rem;
    right: 2rem;
  }

  .comicsUl:hover {
    width: 37%;
    font-size: medium;
    font-family: $font-notable;

    position: absolute;
    top: 20rem;
    right: 2rem;

    padding: 1rem;
    background-color:orangered;
    border: .75rem solid  rgb(0, 0, 0, 1);
  }

.seriesUl {
    font-size: x-small;
    text-align: left;
    width: 25%;
    font-family: $font-flow-block;
   
    position: absolute;
    top: 16.5rem;
    left: 21.5rem;
  }

.seriesUl:hover {
    width: 37%;
    font-size: medium;
    font-family: $font-notable;

    position: absolute;
    top: 20rem;
    right: 2rem;

    padding: 1rem;
    background-color:orangered;
    border: .75rem solid  rgb(0, 0, 0, 1);
  }

  .storyFromStories {
    font-size: x-small;
    text-align: left;
    width: 87%;
    font-family: $font-flow-block;
   
    position: absolute;
    top: 7.5rem;
    left: 4.75rem;
  }

  .storyFromStories:hover {
    width: 37%;
    font-size: medium;
    font-family: $font-notable;

    position: absolute;
    top: 2rem;
    left: 7rem;

    padding: 1rem;
    background-color:orangered;
    border: .75rem solid  rgb(0, 0, 0, 1);
  }

  .marvelApiLinkPara {
    color: #0bda51;
    text-shadow: .015rem .015rem $ea-black;
    font-size: x-small;
    position: absolute;
    top: 11rem;
    left: -3rem;
    rotate: calc(-90deg);
  }

  .skyline {
    background-image: url("images/skyline.png"),
      linear-gradient(
        to bottom,
        deeppink 0%,
        orangered 30%,
        orange 60%,
        yellow 80%,
        $ea-green 100%
      );
    background-size: cover, auto;
    background-position: bottom;
    background-repeat: repeat-x;
    width: 89vw;
    margin-left: -0.65rem;
    margin-bottom: -$space-sm;

    z-index: -100;
  }

  button:hover {
    @include button-hover;
  }
}
