@import "../variables.module.scss";

.owensCard {
  @include card-space;

  button {
    @include button-space;
  }

  button:hover {
    @include button-hover;
  }

  .contextText {
    font-variant: small-caps;
  }

  .wowText {
    font-size: 2rem;
    font-family: $font-amatic-sc;
  }
}
