@import "../variables.module.scss";

.greatestCard {
  @include card-space;

  button {
    @include button-space;
  }

  button:hover {
    @include button-hover;
  }

  fieldset {
    border: $space-border-none-all;
  }

  input[type="checkbox"] {
    width: 25%;
    height: 2rem;
  }

  label {
    cursor: pointer;
  }

  .greatestPara {
    text-align: left;
    font-size: $space-md;
    font-family: $font-rubik-dirt;
  }

  .greatestPara {
    text-align: left;
  }

  .submitBtn {
    @include button-submit-badassest;
  }
}
