@import "../variables.module.scss";

.prettiestCard {
  @include card-space;

  button {
    @include button-space;
    @include button-submit;
  }

  button:hover {
    @include button-hover;
  }

  fieldset {
    @include fieldset-basic-structure;
    align-items: center;
  }

  input[type="radio"] {
    width: 5%;
    height: 0.95rem;
  }

  label {
    color: orangered;
    cursor: pointer;
  }

  p.prettiestPara {
    @include p-character-para-center;
  }

  .prettiestPara {
    @include character-para-md;
  }

  .pretties {
    @include character-subheads;
    color: yellow;
    font-size: xx-small;
  }

  .pretties:hover {
    font-size: x-small;
    color: $ea-white;
    @include characters-hover;

    .subTitleLeadIn {
      font-size: x-small;
    }

    i {
      color: $ea-red;
    }
  }

  .submitBtn {
    @include button-submit;
  }
}
