@import "../variables.module.scss";

.agifyCard {
  @include card-space;

  button {
    @include button-space;
    @include button-submit-input-inline;
  }

  button:hover {
    @include button-hover;
  }

  Button.searchBtn {
    @include button-search-submit-block-display;
  }

  input {
    @include input-basic-format;
  }

  input[type="text"]::placeholder {
    @include input-text-placeholder;
  }

  input[type="text"]::selection {
    @include input-text-selection;
  }

  h1 {
    @include text-uppercase;
  }

  p {
    color: $ea-white;
    margin-top: -5rem;
    font-size: 11rem;
    font-family: $font-abril-fatface;
  }

  .disclaimerPara {
    width: 15%;
    font-size: xx-small;
    text-align: justify;
    margin-left: $space-sm;

    // opacity effect
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.75rem;
  }

  span.disclaimerSpan {
    color: $ea-red;
    text-shadow: $ea-black 0.025rem 0.025rem;
  }

  .disclaimerParaText {
    font-family: Arial, Helvetica, sans-serif;
  }

  .disclaimerPara:hover {
    transform: scale(1.5);
    margin-left: 34rem;
    margin-bottom: 34rem;
  }
}
