@import "../App.scss";
@import "../variables.module.scss";

.ronsCard {
  @include card-space;
  background-color: rgba(254, 1, 154, 0.3);

  button {
    @include button-space;
    @include button-submit;
  }

  Button {
    color: #ff1694;
    @include button-x-custom-1;
  }

  button:hover {
    @include button-hover;
  }

  p {
    color: deeppink;
    text-shadow: $ea-black 0.15rem 0.15rem;
    font-size: 2.25rem;
    line-height: 3rem;
    font-family: "Aggressive";

    text-align: justify;
    text-justify: inter-word;
    margin-left: 7rem;
    margin-right: 7rem;
  }
}
