@import "../variables.module.scss";

.sayCard {
  @include card-space;

  button {
    @include button-space;
    @include button-submit;
  }

  button:hover {
    @include button-hover;
  }

  fieldset {
    @include fieldset-basic-structure;
    align-items: center;
  }

  label {
    cursor: pointer;
  }

  input[type="text"] {
    width: 33%;
    padding-left: 0.5rem;
  }

  input[type="text"]::placeholder {
    @include input-text-placeholder;
  }

  p.sayPara {
    @include p-character-para-center;
  }

  .sayPara {
    @include character-para-md;
  }

  .submitBtn {
    @include button-submit;
  }
}
