@import "../variables.module.scss";

.sayCard {
  background-color: rgba(255, 255, 255, 0.7);
  @include card-space;

  button {
    @include button-space;
    @include button-submit;
  }

  button:hover {
    @include button-hover;
  }

  fieldset {
    @include fieldset-basic-structure;
    align-items: center;
  }

  label {
    cursor: pointer;
  }

  select {
    color: #c8c4bd;
    text-align: center;

    width: 37%;
    padding: 0.75rem;

    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
  }

  .phraseToShowText {
    color: $ea-black;
    font-family: Grape Nuts;
    font-size: 2.75rem;
    text-shadow: 0.025rem 0.025rem $ea-black;
  }

  .submitBtn {
    @include button-submit;
  }
}
