@import "../variables.module.scss";

.cocktailsCard {
  @include card-space;

  button {
    @include button-space;
    @include button-submit;
  }

  Button {
    @include button-x-custom-2;
  }

  button:hover {
    @include button-hover;
  }

  img {
    max-width: 10rem;
    max-height: 10rem;
    margin-left: 1.75rem;
    margin-right: -1rem;
    margin-bottom: 1.75rem;
    @include border-box-shadow;
  }

  .detailsDiv {
    width: 99%;
    @include section-centered;
  }

  h2 {
    font-size: $space-md;
    padding-left: 3rem;
  }

  h3 {
    font-size: 0.65rem;
    text-align: left;
    margin-left: 1.25rem;
    margin-top: 2.025rem;
    text-shadow: 0.15rem 0.15rem 0.15rem $ea-black;

    animation: glow 1.5s ease-in-out infinite;
  }

  span#instructions {
    overflow: hidden;
    line-height: 1.25rem;
    max-height: 7rem;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: scroll !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 7;
  }

  .detailHeaders {
    color: $ea-red;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;

    @keyframes glow {
      from {
        text-shadow: 0 0 20px greenyellow;
      }
      to {
        text-shadow: 0 0 30px greenyellow, 0 0 10px greenyellow;
      }
    }
  }

  h3:hover {
    font-size: 1.75rem;
  }

  .instructions {
    width: 7rem;
  }

  div h3.instructions:hover {
    font-size: 1.25rem;
    width: 17%;
  }
}
