@import "../variables.module.scss";

.badassestCard {
  @include card-space;

  button {
    @include button-space;
    @include button-submit;
  }

  button:hover {
    @include button-hover;
  }

  fieldset {
    border: $space-border-none-all;
    flex-direction: column;
    align-items: center;
  }

  input[type="radio"] {
    width: 5%;
    height: 0.95rem;
  }

  label {
    cursor: pointer;
  }

  p.badassestPara {
    display: flex;
    justify-content: center;
  }

  .badassestPara {
    text-align: left;
    font-size: 2rem;
    font-family: $font-rubik-dirt;
  }

  .baddies {
    color: $ea-gray-light;
    font-size: x-small;
  }

  .baddies:hover {
    color: $ea-red;
    @include baddies-hover;
  }

  .submitBtn {
    @include button-submit;
  }
}
