@import "../variables.module.scss";

.pokemonsCard {
  @include card-space;

  button {
    @include button-space;
    @include button-submit-input-inline;
  }

  button:hover {
    @include button-hover;
  }

  Button.searchBtn {
    font-size: 1.5rem;
    @include button-search-submit-block-display;
  }

  input {
    color: $ea-white;
    @include input-basic-format;
  }

  input[type="text"]::placeholder {
    color: $ea-white !important;
    @include input-text-placeholder;
  }

  input[type="text"] {
    border-bottom: $space-input-border-bottom;
  }

  input[type="text"]::selection {
    @include input-text-selection;
  }

  h1 {
    @include text-uppercase;
  }

  .pokemonImg {
    width: 11rem;
  }

  span {
    display: flex;
    justify-content: center;
  }

  img.pokemonImg {
    display: flex;
    justify-content: flex-start;

    margin-left: -3rem;
    // margin-bottom: -3rem;
  }

  h2 {
    font-size: $space-sm;
    text-align: left;
  }
}
