@import "../variables.module.scss";

.pokemonsCard {
  background-color: rgba(0, 0, 255, 0.1);
  @include card-space;

  button {
    @include button-space;
    @include button-submit-input-inline;
    font-size: 3.25rem;
  }

  button:hover {
    @include button-hover;
  }

  Button.searchBtn {
    font-size: 1.5rem;
    @include button-search-submit-block-display;
  }

  input {
    // color: $ea-white;
    @include input-basic-format;
  }

  input[type="text"]::placeholder {
    @include input-text-placeholder;
    // color: $ea-white;
    // @include input-number-and-text-format;
  }

  input[type="text"] {
    border-bottom: $space-input-border-bottom;
    @include input-combo-number-text-format;
  }

  input[type="text"]::selection {
    @include input-text-selection;
  }

  h1 {
    text-shadow: 0.2rem 0.2rem black;
    @include text-uppercase;
  }

  .specDetailsSpan {
    background-image: url("./images/pokemonworldmap.png");
    background-position: center center no-repeat;
  }

  .pokemonImg {
    width: 7rem;
  }

  .horizontalLine {
    border-top: 0.1rem dashed $ea-white;
    width: 11.5rem;
    margin-left: 26rem;
    z-index: 3;
  }

  .gifMatchGif {
    width: 11rem;
    margin-top: -9.5rem;
    margin-left: -29rem;
  }

  .nonGifImage {
    width: 7rem;
    position: absolute;
    top: 24rem;
    left: 37rem;
  }

  h2 {
    white-space: nowrap;
  }

  .specDetails {
    display: inline;
    color: $ea-red;
    font-size: small;
    text-align: left;
    letter-spacing: 0.05rem;
    text-shadow: 0.05rem 0.05rem black;
    margin-left: 39rem;
  }
}
