@import "../variables.module.scss";

.sexiestCard {
  @include card-space;

  button {
    @include button-space;
    @include button-submit;
  }

  button:hover {
    @include button-hover;
  }

  .fieldsetDiv {
    @include fieldset-div-basic-structure;
  }

  fieldset {
    @include fieldset-basic-structure;
    align-items: left;
  }

  input[type="text"] {
    text-align: left;
  }

  p.sexiestPara {
    @include p-character-para-left;
  }

  .sexiestPara {
    @include character-para-sm;
  }

  .feminineLegend,
  .masculineLegend,
  .nonbinaryLegend {
    font-size: small;
  }

  .feminineLegend:hover,
  .masculineLegend:hover,
  .nonbinaryLegend:hover {
    color: $ea-red;
    text-shadow: 0.015rem 0.015rem 0.025rem $ea-black;
    transform: scale(2.25);
    transition: 1.1s ease-in;
  }

  .para1,
  .feminineLegend,
  .para2,
  .masculineLegend,
  .para3,
  .nonbinaryLegend {
    text-align: left;
    margin-left: $space-lg;
  }

  .submitBtn {
    @include button-submit;
  }
}
