@import "../variables.module.scss";

.sexiestCard {
  @include card-space;
  height: 60vh;

  button {
    @include button-space;
    @include button-submit;
  }

  button:hover {
    @include button-hover;
  }

  .fieldsetDiv {
    @include fieldset-div-basic-structure;
  }

  fieldset {
    @include fieldset-basic-structure;
    align-items: left;
  }

  .deblur {
    font-size: 1.45rem;
    cursor: pointer;
  }

  .deblur:active {
    @include icon-click-effect;
    color: $ea-red;
  }

  label {
    cursor: pointer;
    font-size: 1.45rem;
  }

  p.sexiestPara {
    @include p-character-para-left;
  }

  .sexiestPara {
    @include character-para-sm;
    font-size: 1.5rem;
  }

  .feminineLegend,
  .masculineLegend,
  .nonbinaryLegend {
    color: $ea-white;
    font-size: small;
  }

  .feminineLegend:hover,
  .masculineLegend:hover,
  .nonbinaryLegend:hover {
    color: $ea-red;
    text-shadow: 0.015rem 0.015rem 0.025rem $ea-black;
    transform: scale(2.25);
    transition: 1.1s ease-in;
  }

  .para1,
  .feminineLegend,
  .para2,
  .masculineLegend,
  .para3,
  .nonbinaryLegend {
    text-align: left;
    margin-left: $space-lg;
  }

  #catwoman:hover:after {
    content: url(images/catwoman.png);
    zoom: 65%;
    position: absolute;
    left: 1;
    bottom: 0;
  }

  #shera:hover:after {
    content: url(images/she-ra.png);
    zoom: 65%;
    position: absolute;
    top: 0;
  }

  #wonderwoman:hover:after {
    content: url(images/wonder-woman.png);
    zoom: 65%;
    position: absolute;
    top: 0;
  }

  #batman:hover:after {
    content: url(images/batman.png);
    zoom: 37%;
    position: absolute;
    top: 1;
  }

  #blackpanther:hover:after {
    content: url(images/black-panther.png);
    zoom: 43%;
    position: absolute;
    top: 1;
  }

  #spiderman:hover:after {
    content: url(images/spiderman.png);
    zoom: 37%;
    position: absolute;
    top: 0;
  }

  #brotherken:hover:after {
    content: url(images/nonbinary-representation-gap.png);
    zoom: 13%;
    position: absolute;
    right: 1;
    bottom: 0;
  }

  #kidquick:hover:after {
    content: url(images/kid-quick.png);
    zoom: 67%;
    position: absolute;
    right: 0;
  }

  #snowflake:hover:after {
    content: url(images/nonbinary-representation-gap.png);
    zoom: 13%;
    position: absolute;
    right: 1;
    top: 0;
  }

  .submitBtn {
    @include button-submit;
  }
}
