@import "../variables.module.scss";

.chucksCard {
  @include card-space;

  button {
    @include button-space;
    @include button-submit;
  }

  button:hover {
    @include button-hover;
  }

  .jokeText {
    text-shadow: 0.05rem 0.05rem orangered;
    font-family: $font-bangers;
    font-size: 3.5rem;
    padding: 0 $space-md;
  }
}
