@import "../variables.module.scss";

.donaldsCard {
  @include card-space;

  button {
    @include button-space;
    @include button-submit;
  }

  Button.donaldCloseBtn {
    color: #ffdd42 !important;
    @include button-x-custom-3;
  }

  button:hover {
    @include button-hover;
  }

  .quoteText {
    color: $ea-white;
    text-shadow: 0.05rem 0.05rem #ffdd42;
    font-family: $font-luckiest-guy;
    font-size: 2.5rem;
    padding: 0 $space-md;
  }
}
