@import "../variables.module.scss";

.lastCard {
  @include card-space;

  button {
    @include button-space;
    @include button-submit;
  }

  button:hover {
    @include button-hover;
  }

  fieldset {
    border: $space-border-none-all;
  }

  .lastFieldset {
    margin-left: 5rem;
  }

  p {
    flex-direction: column;
    align-items: center;
  }

  input[type="checkbox"] {
    width: 22%;
    height: 1.5rem;
  }

  label {
    cursor: pointer;
  }

  .lastPara {
    text-align: left;
    font-size: 1.5rem;
    font-family: $font-rubik-dirt;
  }

  .lastPara {
    text-align: left;
  }

  .para1 {
    float: left;
    width: 50%;
  }

  .para2 {
    float: right;
    width: 50%;
  }

  .submitBtn {
    @include button-submit;
  }
}
