@import "../variables.module.scss";

.lastCard {
  @include card-space;

  button {
    @include button-space;
    @include button-submit;
  }

  button:hover {
    @include button-hover;
  }

  .lastDiv {
    margin-left: 9rem;
  }

  fieldset {
    border: $space-border-none-all;
  }

  .lastFieldset {
    margin-left: $space-lg;
  }

  p {
    @include paragraph-basic;
  }

  // input[type="checkbox"] {
  //   display: none;
  //   width: 22%;
  //   height: 1.5rem;
  //   margin-left: -2.75rem;
  // }

  .fa-lg {
    color: $ea-red;
    margin-right: 0.33rem;
    margin-top: 1.25rem;
    cursor: pointer;
  }

  .fa-lg:active {
    transform: scale(1.2);
    box-shadow: 0.125rem 0.125rem 0.625rem rgba(0, 0, 0, 0.3);

    border-radius: 50%;
    background-color: $ea-red;
    box-shadow: 0 0 0.438rem 0.141rem $ea-red, 0 0 0.438rem 0.313rem $ea-white,
      0 0 0.625rem 0.438rem $ea-red;
  }

  label {
    color: $ea-red;
    cursor: pointer;
    text-shadow: $space-xsm $space-xsm black;
  }

  .lastPara {
    @include character-para-xsm;
  }

  .lastPara {
    text-align: left;
  }

  .para1 {
    float: left;
    width: 50%;
  }

  .para2 {
    float: right;
    width: 50%;
  }

  .submitBtn {
    @include button-submit;
    margin-left: -7rem;
  }
}
