@import "../variables.module.scss";

.bestCard {
  @include card-space;

  button {
    @include button-space;
    @include button-submit;
  }

  button:hover {
    @include button-hover;
  }

  fieldset {
    @include fieldset-basic-structure;
    align-items: center;
  }

  input[type="radio"] {
    width: 5%;
    height: 0.95rem;
  }

  label {
    cursor: pointer;
  }

  p.bestPara {
    @include p-character-para-center;
  }

  .bestPara {
    @include character-para-md;
  }

  .besties {
    // color: #99edc3 !important;
    @include character-subheads;
  }

  .besties:hover {
    @include characters-hover;
    color: $ea-red !important;
  }

  .parens {
    color: $ea-red;
    font-family: Arial, Helvetica, sans-serif;
  }

  .dashIshText {
    color: $ea-gray-light;
    text-shadow: 0.25rem 0.25rem black;
  }

  .submitBtn {
    @include button-submit;
  }
}
