html {
  scroll-behavior: smooth;

  user-select: none;
}
body {
  background-color: white;
}
#epicapislogo {
  width: 11rem;
  height: 100%;
  margin-left: 1.5%;
}
ul {
  margin-top: -2.5rem;
  margin-left: -1%;
}
ul > li {
  list-style: none;
}
a {
  text-decoration: none;

  color: greenyellow;
  text-shadow: black 0.025rem 0.025rem;
  font-family: "Courier New", Courier, monospace;
}
.listWordFont {
  font-family: cursive;
}
.listWordColor {
  color: #545454;
}
.copyrightContent {
  margin-top: 3rem;
}
a.listWordColor {
  color: #5ce1e6;
}
.myName {
  font-size: 0.64rem;
  display: block;
}
.epicapisCopyrightText {
  letter-spacing: 0.15rem;
  margin-top: 5rem;
}
.apisOfEpicapis {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}
.agify,
.chuck,
.cocktails,
.foaas,
.marvel,
.owen,
.pokemon,
.starwars,
.swanson,
.trump,
.semanticFillerImg {
  width: 10rem;
  height: auto;
  margin-left: 0.3rem;
}
.agify:hover,
.chuck:hover,
.cocktails:hover,
.foaas:hover,
.marvel:hover,
.owen:hover,
.pokemon:hover,
.starwars:hover,
.swanson:hover,
.trump:hover,
.semanticFillerImg:hover {
  transform: scale(1.05);
  transition: 0.75s;
}
.selectionsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.selectionsInput {
  width: 50%;
  border-color: #545454;
  border-radius: 0.25rem;
  padding: 0.15rem;
}
.selectionsInput:focus {
  background-color: #c9e265;
}
Button.selectionsSubmitBtn {
  color: #c9e265;
  font-size: large;
  text-shadow: 0.025rem 0.025rem 0.025rem #000;
}

/* footer {
  margin-top: 2.25rem !important;

  margin: auto;
  width: 50%;
} */

/* masonry code */
/* Do Not need either display below (webkit; flexbox) if autoprefixing */
.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}
/* padding-left is the gutter size */
.my-masonry-grid_column {
  background-clip: padding-box;
}
.my-masonry-grid_column > div {
  margin-bottom: 1rem;
}
.apiImgDiv {
  margin-top: 3rem;
  text-align: center;
}
