body {
  background-color: whitesmoke;
}
#epicapislogo {
  width: 11rem;
  height: 100%;
  margin-left: 1.5%;
}
ul {
  margin-top: -2.5rem;
  margin-left: -1%;
}
ul > li {
  list-style: none;
}
a {
  text-decoration: none;

  color: greenyellow;
  text-shadow: black 0.025rem 0.025rem;
  font-family: "Courier New", Courier, monospace;
}
.listWordFont {
  font-family: cursive;
}
.listWordColor {
  color: #545454;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.logo {
  height: auto;
}
.agify,
.cocktails,
.foaas,
.trump,
.owen {
  width: 10rem;
}
.chuck {
  width: 11rem;
}
.marvel {
  width: 13.75rem;
  border-radius: 1.5rem;
}
.pokemon {
  width: 13rem;
}
.swanson {
  width: 13.25rem;
  border-radius: 1.5rem;
  margin-right: 1rem;
}
.starwars {
  width: 12rem;
}
footer {
  margin-top: 2.25rem !important;

  margin: auto;
  width: 50%;
}
.epicapisCopyrightText {
  letter-spacing: 0.15rem;
}

/* masonry code */

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
}
