@import "../variables.module.scss";

.funnyestCard {
  @include card-space;

  button {
    @include button-space;
    @include button-submit;
  }

  button:hover {
    @include button-hover;
  }

  fieldset {
    border: $space-border-none-all;
  }

  .submitBtn {
    @include button-submit;
  }

  #funnyest {
    outline: none;
    border-left: 0.25rem solid $ea-white;
    @include border-none;
    @include select-option;
  }
}
