@import "../variables.module.scss";

.funnyestCard {
  @include card-space;

  button {
    @include button-space;
    @include button-submit;
  }

  button:hover {
    @include button-hover;
  }

  fieldset {
    border: $space-border-none-all;
  }

  .funnyestFieldset {
    margin-left: 10rem;
  }

  p {
    @include paragraph-basic;
  }

  input[type="checkbox"] {
    width: 17%;
    height: 1.25rem;
  }

  label {
    font-size: 1.75rem;
    color: bisque;
    text-shadow: 0.15rem 0.1rem $ea-black;
    cursor: pointer;
  }

  .funnyestPara {
    @include character-para-xsm;
  }

  .funnyestPara {
    text-align: left;
    font-size: xx-large;
  }

  .para1 {
    float: left;
    width: 50%;
  }

  .para2 {
    float: right;
    width: 50%;
  }

  .submitBtn {
    @include button-submit;
  }
}
